{{ partial "header.html" . }}

  <main>
{{ range .Data.Pages }}
    <article>
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <span>{{ .Date.Format "January 02, 2006" }}</span>
    </article>
{{ end }}
  </main>

{{ partial "footer.html" . }}
