<html lang="en-US">
<head>
  <meta charset="utf-8">
  {{ .Hugo.Generator }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 1rem;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    html {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: 16px;
      line-height: 1.618;
      box-sizing: border-box;
      background-color: #000000;
      color: #ffffff;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(60rem * 1.4142);
      height: 60rem;
      overflow: hidden;
    }
    header {

    }

    footer {
      position: fixed;
      left: 1rem;
      bottom: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
  </style>
</head>
<body>
<header>
		<!-- <a href="/"><img src="{{ .Site.Params.logo }}" width="60" height="60" alt="{{ .Site.Title }}"></a> -->
</header>
