{{ partial "header.html" . }}

<main>
  <style>
  main span {
    will-change: opacity;
    opacity: 0;
    font-size: 3.7rem;
  }
  main span:nth-child(1) {
    animation: 3.7s fadeIn .3s forwards;
  }
  main span:nth-child(2) {
    padding: 0 1rem;
    animation: 3.7s fadeIn .35s forwards;
  }
  main span:nth-child(3) {
    animation: 3.7s fadeIn .37s forwards;
  }

  @keyframes fadeIn {
    0% {
      filter: blur(10px);
      opacity: 0;
    }
    50% {
      filter: blur(0px);
    }
    100% {
      opacity: 1;
    }
  }
  </style>

  <div><span>Tales</span><span>Of</span><span>Maera</span></div>

</main>

{{ partial "footer.html" . }}
